@font-face {
    font-family: kirbyss;
	src: url('../images/kirbyss.ttf');
}

#canvas {
display: block;
	border: rgba(0,0,0,0.2);
	border-style: dotted;
	margin-left: 6%;
	margin-top: 2%;
}

 body {
    height: 100%;
    width: 100%;
    font-family: kirbyss, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 13px;
	margin: 0;
	padding: 0;
	margin: 0;
  background-color: black;
  color: white;
  align-content: center;

}

.container {
	align-items: center;
	margin-left: 41%;
}

.bodyindex {
	background-image: url("../images/endormoon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
	width: 100%;
	margin: 0 auto;

}

.bodygame {
	background-image: url("../images/ST-ewokvillage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
	margin: 0 auto;
}

.bodyvic {
	background-image: url("../images/EndorParty.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
	margin: 0 auto;
}

.bodygameover {
	background-image: url("../images/gameover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;

}

a {
    color: beige;
}


button {
	position: relative;
	border: none;
	display: inline-block;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
			    inset 0px -5px 0px 0px rgba(0,0,0,0.3),
				inset 0px 2px 0px 0px rgba(255,255,255,0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
    margin: 36px;
    padding: 10px 20px 12px 20px;
	color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
	background: url(http://subtlepatterns.com/patterns/wood_pattern.png);
	margin-top: 2%;
	font-family: kirbyss, Arial, Helvetica, sans-serif;
}

.texto {
align-items: center;
text-align: center;
padding-top: 30%;

}

h1 {
	font-size: 50px;
}

a {
	font-size: 20px;
}

